body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.photo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

header {
    background-color: #b71c1c;
    color: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #d32f2f;
    text-align: center;
    justify-content: space-between;
    width: 860px;
    padding: 10px 20px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cv-container {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border: none;
    gap: 0; 
}

.sidebar {
    background-color: #d32f2f;
    color: #fff;
    padding: 20px;
    width: 30%;
    text-align: center;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
}

.main-content {
    padding: 20px;
    width: 70%;
}

footer {
    background-color: #b71c1c;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 870px;
    padding: 0px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info {
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 600px;
}

.contact-info p {
    margin: 5px 0;
    transition: transform 0.3s, color 0.3s;
}

header > h1 {
    transform: scale(1.1);
    color: #fff;
}

.contact-info p:hover {
    transform: scale(1.1);
    color: #ffcccb;
}

.photo img:hover {
    border-radius:50%;
    -webkit-border-radius:50%;
}

.contact-info h2,
.sidebar h1,
.sidebar p, 
.sidebar .job-title,
.section h2, 
.experience h3, 
ul li {
    transition: transform 0.3s ease-in-out, background-color 0.3s;
}