section {
display: black;
unicode-bidi: isolate;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color: #fdf1f1;
    color: #333;
}